@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono");
html {
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

* {
    background: #1d252c;
    color: #fff;
    font-family: IBM Plex Mono;
}

#prompt {
    background: #1d252c;
    border: none;
    color: rgba(255, 255, 255, 0.75);
    font-weight: bold;
}

#prompt::before {
    content: "~ $";
}

.err {
    color: #c3707d;
}

.ok {
    color: #35cc61;
}

.lt {
    opacity: 0.6;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #588e68;
}

.input {
    display: grid;
    grid-template-columns: 2.2em auto;
}

.term span {
    color: #35cc61
}

.term {
    padding: 10px;
}

h4 {
    position: relative;
    width: max-content;
    margin: 0;
    float: right;
    background: none;
    color: #1d252c;
}

.window {
    position: relative;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 800px;
    margin: auto;
    top: 50px;
}
.window .titlebar {
    background-color: #ededed;
    height: 44px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 16px;
    box-sizing: border-box;
}
.window .titlebar .dot {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    display: inline-block;
    border-radius: 50%;
}
.window .titlebar .dot.close {
    background-color: #ef6866;
}
.window .titlebar .dot.minimise {
    background-color: #f5ed49;
}
.window .titlebar .dot.maximise {
    background-color: #89c665;
}
.window .titlebar .dot + .dot {
    margin-left: 7px;
}
  